.register{
	font-family: Arial, sans-serif;
	background:linear-gradient(white, #D3D8E8);
	padding: 20px 5px;
}
.register .label-form-a{
	font-size: 36px;
	font-weight: bold;
	color: #333;
	margin-bottom: 7px;
}
.register .label-form-b{
	color: #333;
	font-size: 19px;
	margin-bottom: 20px;
}
.register .register-name .ho{
	width: 190px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #bdc7d8;
	font-size: 18px;
	color: #999999;
	padding-left: 7px;
	margin-right: 7px;
	margin-bottom: 10px;
}
.register .phone{
	width: 400px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #bdc7d8;
	font-size: 18px;
	color: #999999;
	padding-left: 7px;
	margin-bottom: 10px;
}
.register .register-birthday .label{
	color: #333;
	font-size: 19px;
	margin-top: 10px;
	margin-bottom: 5px;
}
.register .register-birthday .label-birth{
	height: 25px;
	font-size: 14px;
	margin-bottom: 15px;
	margin-right: 3px;
}
.register .register-birthday .register-select{
	display: flex;
}
.register .register-birthday .register-select .label-info{
	margin-left: 7px;
	width: 150px;
	height: 25px;
	line-height: 0.9;
}
.register .register-birthday .register-select .label-info a{
	font-size: 11px;
	text-decoration: none;
	color: #365899;
}
.register .register-birthday .register-select .label-info a:hover{
	text-decoration: underline;
}
.register .register-gender{
	color: #333;
	margin-bottom: 15px;
	margin-left: 5px;
	font-size: 17px;
}
.register .register-gender label{
	margin-right: 15px;

}
.register .register-rules{
	font-size: 11px;
	color: #777777;
	width: 315px;
	margin-bottom: 20px;
	line-height: 1.4;
}
.register .register-rules a{
	text-decoration: none;
	color: #365899;
}
.register .register-rules a:hover{
	text-decoration: underline;
}
.register .register-submit{
	height: 39px;
	width: 194px;
	font-size: 17px;
	font-weight: bold;
	color: #ffffff;
	border-radius: 5px;
	background: linear-gradient(#67ae55, #578843);
	border-color: #3b6e22 #3b6e22 #2c5115;
	box-shadow: inset 0 1px 1px #a4e388;
	border-width: 0.5px;
	margin-bottom: 30px;
}
.register .register-submit:hover{
	background: linear-gradient(#79bc64, #578843);
	cursor: pointer;
}
.register .register-page{
	font-size: 12px;
	font-weight: bold;
	color: #666;
	width: 350px;
	margin-bottom: 25px;
}
.register .register-page a{
	text-decoration: none;
	color: #365899;
}
.register .register-page a:hover{
	text-decoration: underline;
}
.sp_DM94Tzbs4_7 {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yh/r/xRUTE9R9zrn.png);
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    height: 34px;
    width: 173px;
    margin-left: 184.5px;
    margin-top: 4%;
}